@layer defaults.base            { 


:root {
    --max-width: auto;

    --menu-head-hight: calc(var(--main-font-size) * 5);
}


/*
  ========================================
  Utilities
  ========================================
*/

.m-hidden {
    display: none !important;
}


/*
  ========================================
  Defaults
  ========================================
*/


header {
    /*height: 50vh;*/
}




:root {
   --text-content-margin-left: 0.8ch;
   --text-content-margin-right: 0.8ch;
}






/*
  ========================================
  Utilities
  ========================================
*/


/*
  ========================================
  Defaults
  ========================================
*/


header {
    /*min-height: 60vh;*/
    /*min-height: 70vh;*/

    padding-left: 1em;
    padding-right: 1em;
}
 }




@layer components.base          { 








 }

@layer side-nav.base            { 


nav.side-nav {
    height: 68px;
    width: 100%;
}









 }
@layer primary-menu.base        { 









nav.primary-nav .zippy .zippy-overflow {
    top:            0           !important;
}

nav.primary-nav .zippy .zippy-content {
    padding-top:    var(--menu-head-hight);        !important;
}

 }
@layer burger.base              { 


.burger {
    height: 68px;
/*    padding-right: 50px;*/
}
.burger > button {
    background-image: url("/assets/icons/menu_svg.svg");
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}
.burger.burger-on-menu > button {
    /*background: url("/assets/icons/menu_svg.svg") center/80% no-repeat;*/
}









 }
@layer roll-paper.base          { 





div:has(> .roll-paper) {
    display:        block;
}







 }
@layer aheader.base             { 









 }
@layer article.base             { 









.apreview .article {
    margin-bottom: 1em;
}

 }
@layer primary-footer.base      { 









 }
@layer zippy.base               { 




.zippy .zippy-content::before {
    left:           1rem;
}






 }
@layer category-identifier.base { 









 }
@layer pagination.base          { 









 }
@layer bg.base                  { 









 }
