








@layer defaults.article         { 
/*
    ========================================
    Utilities
    ========================================
*/





/*
    ========================================
    Defaults
    ========================================
*/


main {
    margin-top:     0;
}

/*----------------------------------------
  Typography
  ----------------------------------------*/

h1 {
    letter-spacing: 0.1em;
    position:       relative;
    right:          -0.05em;

    /*margin-left: 2em;*/
    /*margin-right: 2em;*/

    line-height:    1.3;

    text-align:     center;

    /*color: hsl(var(--decorative-theme-color));*/
    color: hsl(0, 0%, 0%);

    font-family:    "Foro W03 ExtraBold";
}

 }




@layer components.article       {  }





@layer aheader.article          { 




header.primary-header.aheader {
    min-height: 70ch;
    height: min-content;

    padding-top: 68px;
    padding-bottom: 68px;

    position: relative;

    /*text-align: center;*/

    background-color: hsl(0, 0%, 100%);
}


header.primary-header.aheader a > h1:hover {
    color:          var(--decorative-theme-color);
}


header.primary-header.aheader span.meta-wrapper {
    position: absolute;
    top: 100%;
    margin-top: 1em;

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    row-gap: 0.5em;
}



header.primary-header.aheader span.meta.date {
    /*margin-top: 1em;*/
    line-height: 2;

    align-self: flex-end;
    bottom: 0;
    position: absolute;

    /*color: hsl(0, 0%, 100%);*/
    /*text-shadow: 0 0 3px hsl(0, 0%, 0%);*/

    font-weight:        700;
    letter-spacing:     0.05em;
}





header.primary-header.aheader:has(> .bg-elem[style*='contained']) {
    justify-content: flex-end;

    padding-bottom: 2em;
}


header.primary-header.aheader .category-id {
    top: 15px;
    right: 10px;
}

header.primary-header.aheader .category-id:hover {
    top: 14px;
    right: 9px;
}



header.primary-header.aheader > .bg-elem[style*='contained'] {
    /*background-size: auto calc(70% - 1em);*/
    background-size: auto 70%;
    background-position: 50% 1em;
}
 }
@layer article.article          { 

/*  DECORATIVE  */
article.article .zippy-content::before {
    display:        block       !important;
    content:        ''          !important;

    position:       absolute    !important;

    background-color: #a9acaa   !important;

    top:            0           !important;
    left:           1rem        !important;

    width:          0.1rem      !important;
    height:         100%        !important;
}




article.article .next-li-no-style + ul > li {
    /*list-style-type: '✅\ ';*/
    list-style-type:    none;
}

article.article {
    --tab-space:        5rem;
}

 }



@layer pagination.article       { 


.pagination {
    column-gap: 3ch;
}

 }


@layer PAGE-ABOUT.article       {  }
